    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Runs">Ski Runs</a></li>
        <li><a href="/Tows">Tows</a></li>
        <li><a href="/Areas">Areas</a></li>
        <li><a href="/Meany-Hill">Meany Hill</a></li>
        <li><a href="/Buildings">Buildings</a></li>
        <li><a href="/Lodge">Lodge</a></li>
        <li><a href="/Machines">Machines</a></li>
        <li><a href="/Persons">Persons</a></li>
        <li><a href="/Sources">Sources</a></li>
        <li><a href="/Work-Parties">Work Parties</a></li>
        <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li>
<!--
    {% for doc in site.pages %}
      {% if doc.category == "Person" %}
        <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
      {% endif %}
    {% endfor %}
-->
    </ul>
  </nav>