---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body style="background-image: url('img/2020-Lane.jpeg');">
    {% include masthead.html %}
      <main id="main" role="main">
        {{ content }}
      </main>
    <hr>
    <footer class="footer" role="contentinfo">
      <small>
        Meany Lodge © 2020 <a href="https://www.mountaineers.org">The Mountaineers</a>®, a 501(c)(3) nonprofit organization. <a href="https://github.com/MeanyLodge/meanylodge.github.com/edit/master/{{ page.name }}" title="Edit this Page"><img src="img/icon_edit.png" alt="pencil icon" style="width: 12px; height: 12px; margin: 0;"></a>
      </small>
    </footer>
  </body>
</html>